tenancy_ocid        = "ocid1.tenancy.oc1..aaaaaaaalk2riikcejtzfrqhfdyopzqfnmvxl2ggainzo3cbixh3wuhf5hdq"
user_ocid           = "ocid1.user.oc1..aaaaaaaa5yrk4eop2vycvualuotolzu66y4y7qr4i55hdqdvh3elftiiwneq"
fingerprint         = "c9:58:1d:9c:06:2f:40:e7:8f:f5:74:29:ba:3c:95:c7"
private_key_path    = "/home/sharan/.oci/oci_api_key.pem"
region              = "ap-hyderabad-1"
compartment_ocid    = "ocid1.tenancy.oc1..aaaaaaaalk2riikcejtzfrqhfdyopzqfnmvxl2ggainzo3cbixh3wuhf5hdq"
availability_domain = "mIrk:AP-HYDERABAD-1-AD-1"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
instance_shape      = "VM.Standard.A1.Flex"
instance_ocpus      = 2
instance_memory_gbs = 12
